<%- include('header', { title: 'Change Password'}) %>
<div class="page-wrapper">
    <div class="container-fluid">
        <div class="row page-titles">
            <div class="col-md-5 align-self-center">
                <h4 class="text-themecolor">Change Password</h4>
            </div>
            <div class="col-md-7 align-self-center text-end">
                <div class="d-flex justify-content-end align-items-center">
                    <ol class="breadcrumb justify-content-end">
                        <li class="breadcrumb-item"><a href="/admin/dashboard">Home</a></li>
                        <li class="breadcrumb-item active">Change Password</li>
                    </ol>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <form>
                        <div class="form-body">
                            <div class="card-body">
                                <div class="row pt-3">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-label">Old Password</label>
                                            <input type="password" id="old-password" class="form-control" placeholder="Old Password" />
                                        </div>
                                    </div>
                                    </div>
                                    <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-label">New Password</label>
                                            <input type="password" id="new-password" class="form-control" placeholder="New Password" />
                                        </div>
                                        <div class="form-group">
                                            <label class="form-label">Confirm New Password</label>
                                            <input type="password" id="confirm-password" class="form-control" placeholder="Confirm Password" />
                                            <small class="form-control-feedback d-none"> Password and Confirm Password are not same. </small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-actions">
                                <div class="card-body">
                                    <button type="button" id="c-password" class="btn btn-success text-white">
                                        <i class="fa fa-check"></i> Change Password
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('footer') %>
<script>
const newPasswordInput = document.getElementById('new-password');
const confirmPasswordInput = document.getElementById('confirm-password');
const errorDiv = confirmPasswordInput.nextElementSibling;

// Add an input event listener to the "Confirm New Password" field
confirmPasswordInput.addEventListener('input', function () {
    const newPassword = newPasswordInput.value;
    const confirmPassword = confirmPasswordInput.value;

    // Check if the passwords match
    if (newPassword === confirmPassword) {
        // Passwords match, hide the error message and remove the error style
        errorDiv.classList.add('d-none');
        confirmPasswordInput.closest('.form-group').classList.remove('has-danger');
    } else {
        // Passwords don't match, show the error message and add the error style
        errorDiv.classList.remove('d-none');
        confirmPasswordInput.closest('.form-group').classList.add('has-danger');
    }
});
    document.getElementById('c-password').addEventListener('click', function (e) {
        e.preventDefault();
        var forgot = '/admin/update-password';
        var old_password = document.getElementById('old-password').value;
        var password = document.getElementById('new-password').value;
        var confirm_password = document.getElementById('confirm-password').value;
        const strongRegex = /^(?=.*[A-Z])(?=.*[a-z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$/;
        if (strongRegex.test(password)) {
            if (password && confirm_password && confirm_password) {
                if (password == confirm_password) {
                    var data = {
                        old_password: old_password,
                        password: password,
                    };
                    $('.preloader').fadeIn();
                    fetch(forgot, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify(data),
                    })
                        .then((response) => {
                            return response.json();
                        })
                        .then((response) => {
                            if (response.status) {
                            window.location.reload();
                                document.getElementById('old-password').value = '';
                                document.getElementById('new-password').value = '';
                                document.getElementById('confirm-password').value = '';
                                $.toast({
                                    heading: response.message[0],
                                    position: 'top-right',
                                    loaderBg: '#ff6849',
                                    icon: 'success',
                                    hideAfter: 3500,
                                    stack: 6,
                                });
                                
                            } else {
                            $('.preloader').fadeOut();
                                $.toast({
                                    heading: response.message[0],
                                    position: 'top-right',
                                    loaderBg: '#ff6849',
                                    icon: 'error',
                                    hideAfter: 3500,
                                    stack: 6,
                                });
                            }
                        })
                        .catch((error) => {
                            $('.preloader').fadeOut();
                            console.error('An error occurred:', error);
                        });
                } else {
                    const confirmPasswordInput = document.getElementById('confirm-password');
                    const formGroupDiv = confirmPasswordInput.closest('.form-group');
                    const smallDiv = confirmPasswordInput.nextElementSibling;

                    if (formGroupDiv) {
                        formGroupDiv.classList.add('has-danger');
                    }

                    if (smallDiv) {
                        smallDiv.classList.remove('d-none');
                    }
                }
            } else {
                $.toast({
                    heading: 'Please enter all the details',
                    position: 'top-right',
                    loaderBg: '#ff6849',
                    icon: 'error',
                    hideAfter: 3500,
                    stack: 6,
                });
            }
        } else{
            $.toast({
                    heading: 'Password must contain 1 number, 1 special character, 1 uppercase letter and 1 lowercase letter',
                    position: 'top-right',
                    loaderBg: '#ff6849',
                    icon: 'error',
                    hideAfter: 3500,
                    stack: 6,
                })
        }
    });
</script>
