</div>
<script src="/assets/node_modules/jquery/dist/jquery.min.js"></script>
<script src="/assets/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="/dist/js/perfect-scrollbar.jquery.min.js"></script>
<script src="/dist/js/waves.js"></script>
<script src="/dist/js/moment.js"></script>
<script src="/dist/js/sidebarmenu.js"></script>
<script src="/assets/node_modules/sticky-kit-master/dist/sticky-kit.min.js"></script>
<script src="/assets/node_modules/sparkline/jquery.sparkline.min.js"></script>
<script src="/dist/js/custom.min.js"></script>
<script src="/assets/node_modules/toast-master/js/jquery.toast.js"></script>
<script src="/assets/node_modules/raphael/raphael-min.js"></script>
<script src="/assets/node_modules/morrisjs/morris.min.js"></script>
<link href="/assets/node_modules/morrisjs/morris.css" rel="stylesheet" />
<link href="/dist/css/pages/dashboard1.css" rel="stylesheet" />
<script src="/dist/js/dashboard1.js"></script>
<link href="/dist/css/pages/dashboard1.css" rel="stylesheet" />
<script src="/assets/node_modules/tinymce/tinymce.min.js"></script>
<script src="/assets/node_modules/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="/assets/node_modules/datatables.net-bs4/js/dataTables.responsive.min.js"></script>
<link rel="stylesheet" type="text/css" href="/assets/node_modules/datatables.net-bs4/css/dataTables.bootstrap4.css">
<link rel="stylesheet" type="text/css" href="/assets/node_modules/datatables.net-bs4/css/responsive.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10.16.6/dist/sweetalert2.min.css">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.16.6/dist/sweetalert2.all.min.js"></script>
</body>

</html>
<script>
    window.addEventListener('popstate', function (event) {
        window.history.go(-1);
    });
</script>