<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <link href="/assets/node_modules/toast-master/css/jquery.toast.css" rel="stylesheet" />
        <link href="/dist/css/style.min.css" rel="stylesheet" />
        <link href="/dist/css/pages/dashboard1.css" rel="stylesheet" />
        <title>Reset Password</title>
        <link href="/dist/css/pages/login-register-lock.css" rel="stylesheet">
        <link href="/dist/css/style.min.css" rel="stylesheet">
    </head>
    <body class="skin-default card-no-border">
        <div class="preloader">
            <div class="loader">
                <div class="loader__figure"></div>
                <p class="loader__label">Loading</p>
            </div>
        </div>
        <section id="wrapper">
            <div class="login-register" style="background-image:url(/assets/images/background/login-register.jpg);">
                <div class="login-box card">
                    <div class="card-body">
                        <form class="form-horizontal form-material">
                            <h3 class="text-center m-b-20">Reset Password</h3>
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <input class="form-control" 
                                    id="password"
                                    type="password" required="" placeholder="Password"> </div>
                            </div>
                           
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <input class="form-control" 
                                    id="confirm-password"
                                    type="password" required="" placeholder="Confirm Password"> </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <div class="d-flex no-block align-items-center">
                                        <div class="ms-auto">
                                            <a href="javascript:void(0)" id="to-recover" class="text-muted"><i class="fas fa-lock m-r-5"></i> Go to Login</a> 
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group text-center">
                                <div class="col-xs-12 p-b-20">
                                    <button type="button" id="update-password"  class="btn w-100 btn-lg btn-info btn-rounded text-white">Reset</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <!-- <div class="d-flex justify-content-center align-items-center min-vh-100">
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">Reset Password</h3>
                        <form class="form p-t-20">
                            <div class="form-group">
                                <label for="pwd1">Password</label>
                                <div class="input-group mb-3">
                                    <span class="input-group-text" id="basic-addon3"><i class="ti-lock"></i></span>
                                    <input
                                        type="password"
                                        class="form-control"
                                        placeholder="Password"
                                        aria-label="Password"
                                        aria-describedby="basic-addon3"
                                        name="password"
                                        id="password"
                                        required
                                    />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="pwd1">Confirm Password</label>
                                <div class="input-group mb-3">
                                    <span class="input-group-text" id="basic-addon3"><i class="ti-lock"></i></span>
                                    <input
                                        type="password"
                                        class="form-control"
                                        placeholder="Password"
                                        aria-label="Password"
                                        aria-describedby="basic-addon3"
                                        name="password"
                                        id="confirm-password"
                                        required
                                    />
                                </div>
                            </div>
                            <div style="display: flex; align-items: center; justify-content: space-between">
                                <button type="button" id="update-password" class="btn btn-success waves-effect waves-light m-r-10 text-white">
                                    Update Password
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
                <%- include('footer') %>
            </div>
        </div> -->
    </body>
</html>
<%- include('footer') %>

<script>
       document.getElementById('to-recover').addEventListener('click', function () {
        window.location.href = '/admin/';
    });
    function parseTokenFromURL() {
        const url = window.location.href;
        const urlArray = url.split('/');
        const token = urlArray[urlArray.length - 1];
        if (token) {
            $(".preloader").fadeIn();
            fetch(`/admin/verify-forgot-password/${token}`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
            })
                .then((response) => {
                    return response.json();
                })
                .then((response) => {
                    $(".preloader").fadeOut();
                    if (response.status) {
                        $.toast({
                            heading: response.message[0],
                            position: 'top-right',
                            loaderBg: '#ff6849',
                            icon: 'info',
                            hideAfter: 3500,
                            stack: 6,
                        });
                    } else {
                        $.toast({
                            heading: typeof response.message != 'string' ? response.message[0] : 'Token expired',
                            position: 'top-right',
                            loaderBg: '#ff6849',
                            icon: 'error',
                            hideAfter: 3500,
                            stack: 6,
                        });
                        setTimeout(() => {
                            window.location.href = '/admin/';
                        }, 100);
                    }
                })
                .catch((error) => {
                    console.error('An error occurred:', error);
                });
        } else {
            window.location.href = '/admin/';
        }
    }
    parseTokenFromURL();

    document.getElementById('update-password').addEventListener('click', function (e) {
        e.preventDefault();
        var forgot = '/admin/change-password';
        var password = document.getElementById('password').value;
        var confirm_password = document.getElementById('confirm-password').value;
        if (password == confirm_password) {
            var data = {
                password: password,
            };
            $(".preloader").fadeIn();
            fetch(forgot, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(data),
            })
                .then((response) => {
                    return response.json();
                })
                .then((response) => {
                    $(".preloader").fadeOut();
                    if (response.status) {
                        window.location.href = '/admin/'
                        document.getElementById('password').value = '';
                        document.getElementById('confirm-password').value = '';
                        $.toast({
                            heading: response.message[0],
                            position: 'top-right',
                            loaderBg: '#ff6849',
                            icon: 'info',
                            hideAfter: 3500,
                            stack: 6,
                        });
                    } else {
                        $.toast({
                            heading: response.message[0],
                            position: 'top-right',
                            loaderBg: '#ff6849',
                            icon: 'info',
                            hideAfter: 3500,
                            stack: 6,
                        });
                    }
                })
                .catch((error) => {
                    console.error('An error occurred:', error);
                });
        } else {
            $.toast({
                heading: 'Password and confirm password does not match',
                position: 'top-right',
                loaderBg: '#ff6849',
                icon: 'error',
                hideAfter: 3500,
                stack: 6,
            });
        }
    });
</script>
